<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap" rel="stylesheet">

<!-- Alternate markdown representation of this page -->
{% if page.permalink %}<link rel="alternate" type="text/markdown" href="{{ site.baseurl }}{{ page.permalink }}llms.txt" title="Markdown version">{% endif %}

<!-- Site-wide LLM discovery -->
<meta name="llms:site-index" content="{{ site.baseurl }}/llms.txt">
<meta name="llms:full" content="{{ site.baseurl }}/llms-full.txt">
